<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snaptech.fitness360amritsar"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.snaptech.fitness360amritsar.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.snaptech.fitness360amritsar.permission.C2D_MESSAGE" />

    <!-- <permission -->
    <!-- android:name="com.example.gcm.permission.C2D_MESSAGE" -->
    <!-- android:protectionLevel="signature" /> -->


    <!-- <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" /> -->
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.snaptech.fitness360amritsar.custom.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!-- [START gcm_receiver] -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.app.sircle" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name="com.snaptech.fitness360amritsar.GCM.GCMListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->


        <!-- [START instanceId_listener] -->
        <service
            android:name="com.snaptech.fitness360amritsar.GCM.InstanceIDListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->

        <service
            android:name="com.snaptech.fitness360amritsar.GCM.RegistrationIntentService"
            android:exported="false" />

        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.BaseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.LoginScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.PDFViewer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.AlbumDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.AlbumFullScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.AddLinksActivity"
            android:label="@string/title_activity_add_links"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.AddNotificationActivity"
            android:label="@string/title_activity_add_notification"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.AddAlbumActivity"
            android:label="@string/title_activity_add_album"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.EventsListActivity"
            android:label="@string/title_activity_events_list" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.AddPhotoTabbedActivity"
            android:label="@string/title_activity_add_photo_tabbed"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.cam.activity.CameraActivity"
            android:label="@string/title_activity_add_photo_tabbed"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.AddSelectedPhoto"
            android:label="@string/title_activity_add_selected_photo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.HolidayActivity"
            android:label="@string/title_activity_holiday" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.SchoolHolidayActivity"
            android:label="@string/title_activity_school_holiday" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.EventActivity"
            android:label="@string/title_activity_event" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.EventDetailActivity"
            android:label="@string/title_activity_event_detail" />
        <activity
            android:name="com.snaptech.fitness360amritsar.UI.Activity.VimeoWebviewActivity"
            android:label="@string/title_activity_vimeo_webview"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.snaptech.fitness360amritsar.UI.Activity.PDFWebViewer" />
        <activity android:name="com.snaptech.fitness360amritsar.UI.Activity.ForgotPasswordActivity" />
        <activity android:name="com.snaptech.fitness360amritsar.UI.Activity.SignUpScreen" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="de36240aa2ab4bf4017fe48e2be0d18a28e1b83b" />

    </application>

</manifest>
