<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.sircle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <!-- <service -->
        <!-- android:name="com.example.MyGcmListenerService" -->
        <!-- android:exported="false" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <service -->
        <!-- android:name="com.example.MyInstanceIDListenerService" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.gms.iid.InstanceID"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity
            android:name=".UI.Activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activity.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.LoginScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.PDFViewer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.AlbumDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.AlbumFullScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.AddLinksActivity"
            android:label="@string/title_activity_add_links"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UI.Activity.AddNotificationActivity"
            android:label="@string/title_activity_add_notification"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UI.Activity.AddAlbumActivity"
            android:label="@string/title_activity_add_album"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UI.Activity.EventsListActivity"
            android:label="@string/title_activity_events_list" >
        </activity>
        <activity
            android:name=".UI.Activity.AddPhotoTabbedActivity"
            android:label="@string/title_activity_add_photo_tabbed"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UI.Activity.AddSelectedPhoto"
            android:label="@string/title_activity_add_selected_photo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UI.Activity.HolidayActivity"
            android:label="@string/title_activity_holiday" >
        </activity>
        <activity
            android:name=".UI.Activity.SchoolHolidayActivity"
            android:label="@string/title_activity_school_holiday" >
        </activity>
        <activity
            android:name=".UI.Activity.EventActivity"
            android:label="@string/title_activity_event" >
        </activity>
        <activity
            android:name=".UI.Activity.EventDetailActivity"
            android:label="@string/title_activity_event_detail" >
        </activity>
        <activity
            android:name=".UI.Activity.VimeoWebviewActivity"
            android:label="@string/title_activity_vimeo_webview"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
